.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  margin-bottom: 5vmin;
  animation-delay: 1s;
  animation: Logo-fly-up 3s;
}

.App-logo-wide {
  height: 8vmin;
  animation: Fade-in 5s;
}

.Hero-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Full-page-container{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: linear-gradient(#0F0929,#27213E);
}

.Particles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: radial-gradient(#170E40 1%,#0F0929 40%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-bottom: 6vmin;
}

.Particles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.Down-arrow-container{
  align-self: flex-end;
  padding-bottom: 6vmin;
  animation: Fade-in 8s;
}

.Down-arrow{
  height: 6vmin;
  animation: Down-arrow-bounce infinite 1.5s linear;
}

.Sub-header {
  font-family: "Open Sans Light",serif;
  font-weight: 300;
  color:white;
  animation: Fade-in 7s;
}

.Card-grid{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes Down-arrow-bounce {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2vmin);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes Logo-fly-up {
  0% {
    transform: translateY(10vmin) scale(0.5,0.5);
  }

  25% {
    transform: translateY(10vmin) scale(3,3);
  }

  50% {
    transform: translateY(10vmin) scale(3,3);
  }

  100% {
    transform: translateY(0) scale(1,1);
  }
}

@keyframes Fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }
}